.cases{
    padding-top: 32px;
    margin-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 32px;

    .card-cases{
        height: 350px;
        background-color: lightgray;
        padding: 40px;

    }
}